body {
    font-family: "IBM Plex Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, serif;
    font-size: 1.2em;
    width: 700px;
    margin: 0 auto;
    padding-top: 50px;
    background-color: #f5f5f5;
    padding-bottom: 200px;
}

div.highlight pre {
    background-color: #f5f5f5 !important;
}


article h2 a {
    color: #333;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: lightblue;
    text-decoration-thickness: 3px;
    /* transition: 1.5s; */
}

a {
    color: #333;
    text-decoration: none;
    /* transition: 1.5s; */
} 

a:hover {
    color: blue;
    /* transition: .5s; */
}

article h2 a:hover {
    color: inherit;
    text-decoration-thickness: 7px;
    text-decoration-style: solid;
    /* transition: 1.5s; */
}

h1, h2, h3, article h2 a {
    font-family: "EB Garamond", serif;
    font-size: 1.4em;
}

pre, code {
    font-family: monospace;
    padding-top: .7em;
    padding-bottom: .7em;
}

time {
    color: darkgray;
    font-size: 0.9em;
}

ul, ol, article > p {
    color: #333;
    line-height: 1.5;
}

h1 {
    font-size: 2.5em;
}

